<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>I'm coming from TEST Branch!</h1>
  </div>
</template>

<script>

export default {
  name: 'home'
}
</script>
